
    <!--This section for the shopping item display-->
    
<section>
    <div class="container mt-5">
        {{#each products}}
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src={{this.img}} class="card-img-top" alt={{this.alt}}>
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.discription}}</p>
                        <a href="#" class="btn btn-primary">ADD TO CARD</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>
